html,
body {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0 auto;
  outline: 0;
  padding: 0;
  color: #848484;
  width: 1920px;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.page-row {
  display: table-row;
  height: 1px;
} 

a {
  text-decoration: none;
  color: #848484;
}

p {
  margin: 0;
  color: #808080;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
}

h1,
h2,
h3,
figure {
  margin: 0;
}

h1 {
  font-size: 79px;
}

h2 {
  font-size: 36px;
  text-align: center;
}

.h2-border {
  padding: 100px 0;
  display: inherit;
}

.h2-border::after,
.h2-border::before {
  content: "";
  width: 75px;
  height: 2px;
  display: block;
  background: #18cfab;
  margin: auto;
  position: relative;
  top: 74px;
  left: 0px;
}

.h2-border::after {
  top: 36px;
  left: 5px;
}

h3 {
  font-size: 18px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.wrap-center {
  width: 1170px;
  margin: auto;
}

.blue {
  background-color: #00cbf6;
}

.vertical-table {
  display: table;
  margin: auto;
  height: 100%;
}

.vertical-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.header {
  background: #44433e;
  height: 120px;
}

.header .logo {
  float: left;
  padding-top: 25px;
}
.header .logo::before{
  content: "";
  background: url("../img/logo.png") no-repeat;
  width: 200px;
  height: 70px;
  display: block;
}

.header .header-menu {
  float: right;
}

.header .header-menu ul {
  position: relative;
  margin: 0;
}

.header .header-menu ul li {
  float: left;
  margin-right: 20px;
}

.header .header-menu ul li a {
  text-transform: uppercase;
  color: #b8b8b8;
  font-size: 13px;
  display: block;
  border-bottom: transparent 2px solid;
  line-height: 120px;
}

.header .header-menu ul li a:hover {
  color: #18cfab;
  border-color: #18cfab;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

.header .header-menu ul li:last-child div {
  height: 120px;
  box-sizing: content-box;
  position: static;
  cursor: pointer;
}
.header .header-menu ul li:last-child div::before {
  background: url("../img/icons.png") no-repeat;
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  top: 42px;
  background-position: -256px 0px;
}

.header .header-menu ul li:last-child div .search {
  display: none;
}

.header .header-menu ul li:last-child div:hover .search,
.header .header-menu ul li:last-child .active .search {
  display: block;
  position: absolute;
  left: 0;
  top: 120px;
  z-index: 1;
}

.header .header-menu ul li:last-child div .search .b-search {
  width: 650px;
  height: 60px;
  padding-left: 15px;
  display: inline-block;
}

.header .header-menu ul li:last-child .drop-search {
  background: #18cfab;
  width: 45px;
  height: 45px;
  display: block;
  z-index: 2;
  position: absolute;
  top: 10px;
  right: 10px;
  padding-bottom: 0;
  border: none;
}

.header .header-menu ul li:last-child .drop-search::after {
  content: "";
  background: url("../img/icons.png") no-repeat;
  width: 25px;
  height: 25px;
  display: block;
  position: relative;
  top: 0px;
  left: 5px;
  background-position: -61px 0px;
}

button {
  width: 165px;
  height: 65px;
  background: #18cfab;
  border: none;
  border-radius: 3%;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border-top: #fff 4px solid;
}

.creative {
  text-align: center;
  background-repeat: no-repeat;
  position: relative;
  display: block;
  background-image: linear-gradient(rgba(116, 116, 116, 0.6), rgba(116, 116, 116, 0.6)), url(../img/image.jpg);
  background-size: cover;
  background-position: center;
}

.creative .wrap-center {
  padding: 245px;
}

.creative h1 {
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
}

.before-h1,
.after-h1 {
  color: #fff;
  display: block;
}

.before-h1 a {
  color: #18cfab;
  display: inline-block;
}

.before-h1 {
  font-size: 35px;
  text-transform: uppercase;
}

.after-h1 {
  font-size: 34px; 
  padding-bottom: 145px;
}

.creative button {
    margin-right: 30px;
}

.slider {
  position: absolute;
  bottom: 120px;
  right: 200px; 
}

.slider .prev,
.slider .next {
  height: 65px;
  width: 65px;
  background-color: #3c4140;
  display: inline-block;
}

.slider .prev:hover,
.slider .next:hover {
  background-color: #18cfab;
}

.slider .prev:hover::after,
.slider .next:hover::after {
  background-position: -336px 0;
}

.slider .prev::after,
.slider .next::after {
  content: "";
  background: url(../img/icons.png) no-repeat;
  width: 15px;
  height: 30px;
  display: inline-block;
  margin-top: 20px;
  background-position: -312px 0px;
}

.slider .prev {
  margin: 0 35px 0 0px;
}

.slider .prev:hover::after {
  transform: rotate(180deg); 
}

.slider .next::after {
  transform: rotate(180deg); 
}

.slider .next:hover::after {
  transform: rotate(0deg);
}

.slider img {
  width: 170px;
  height: 105px;
  margin-bottom: 20px;
}

.four-options {
  background: #1c2a33;
  height: 370px;
}

.four-blocks li {
  width: 25%;
  float: left;
  height: 370px;
  text-transform: uppercase;
  font-size: 20px;
  color: #18cfab;
  text-align: center;
  border-top: 7px #18cfab solid;
  box-sizing: border-box;
  padding-top: 75px;
}

.four-blocks li:nth-child(even) {
  background: #18cfab;
  border-color: #fff;
  color: #fff; 
  }

.four-blocks li:nth-child(1)::before {
  background-position: 0 0; 
}

.four-blocks li:nth-child(2)::before {
  background-position: 520px 0; 
}

.four-blocks li:nth-child(3)::before {
  background-position: 350px 0;
}

.four-blocks li:nth-child(4)::before {
  background-position: 180px 0; 
}

.four-blocks li::before {
  width: 200px;
  height: 140px;
  position: static;
  display: block;
  background-image: url("../img/icons1.png");
  margin: 0 auto;
  content: ""; 
}

.features {
  background: #ffffff;
  color: #717171; 
}

.features article {
  width: 330px;
  float: left;
  margin: 0 45px 85px 0;
}

.features article:nth-child(1) h3::before {
  background-position: -4px 0;
}

.features article:nth-child(2) h3::before {
  background-position: -45px 0;
}

.features article:nth-child(3) h3::before {
  background-position: -85px 0;
}

.features article:nth-child(4) h3::before {
  background-position: -125px 0;
}

.features article:nth-child(5) h3::before {
  background-position: -165px 0;
}

.features article:nth-child(6) h3::before {
  background-position: -205px 0;
}

.features article:nth-child(7) h3::before {
  background-position: -245px 0;
}

.features article:nth-child(8) h3::before {
  background-position: -285px 0;
}

.features article:nth-child(9) h3::before {
  background-position: -325px 0;
}

.features article h3 {
  font-weight: bold;
  line-height: 45px;
}

.features article h3::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/icons2.png");
  width: 40px;
  height: 40px;
  display: block;
  float: left;
}

.our-company {
  display: block;
  background-image: linear-gradient(rgba(116, 116, 116, 0.6), rgba(116, 116, 116, 0.6)), url(../img/image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 20px;
}

.our-company h2,
.our-company a {
  color: #fff;
}

.our-company .company-menu li {
  float: left;
}

.our-company .left {
  float: left;
  position: absolute;
  bottom: 0;
}

.our-company .left img {
  width: 900px;
  float: left;
}

.our-company .right {
  display: inline-block;
  margin-left: 975px;
}

.our-company .company-menu li {
  font-size: 16px;
  text-transform: uppercase;
  margin-right: 20px;
  cursor: pointer;
  border-top: transparent 1px solid;
  padding-top: 10px;
  color: #fff;
  font-weight: bold;
}

.our-company .company-menu li:hover,
.our-company .company-menu .active{
  color: #18cfab;
  border-top-color: #18cfab;
}

.our-company .skills {
  padding-top: 60px;
  clear: both;
}

.our-company .skills img {
  width: 555px;
}

.our-work {
  background: #f8fcfe;
  text-align: center;
  border: #f0f4f5 1px solid;
}

.our-work .wrap-center {
  padding-bottom: 100px;
}

.our-work .short-news {
  clear: both;
  padding-top: 70px;
}

.our-work .short-news .b-short-news {
  position: relative;
  display: inline-block;
}

.our-work .short-news .b-short-news img {
  width: 285px;
  height: 210px;
}

.our-work .short-news .b-short-news:hover .cover-bg {
  display: inline-block;
}

.our-work .short-news .cover-bg {
  display: none;
  background: #fff;
  width: 285px;
  height: 210px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  cursor: default;
}

.our-work .short-news .simple-text {
  text-align: center;
}

.our-work .short-news .simple-text .simple-title {
  font-size: 14px;
  color: #18cfab;
  text-transform: uppercase;
}

.our-work .short-news .simple-text .simple-info {
  font-size: 12px;
}

.our-work .vertical-table {
  text-align: center;
}

.our-work button {
  margin-top: 70px;
}

.link {
  margin-bottom: 35px;
  display: inline-block;
}

.link li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px #18cfab solid;
  background-color: #fff;
  position: relative;
  float: left;
  margin-right: 5px;
  cursor: pointer;
}

.link li:hover {
  background: #18cfab;
}

.link li:hover::after {
  background-position: -13px 0px;
}

.link li::after {
  content: "";
  background: url("../img/block-link.png") no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  background-position: 3px 0px;
  position: absolute;
  top: 12px;
  left: 8px;
}

.link li:last-child:hover::after {
  background-position: -48px 0;
}

.link li:last-child::after {
  background-position: -32px 0;
}

.plus::before {
  content: "+";
  display: block;
  float: left;
  font-size: 30px;
  margin-left: 15px;
  line-height: 15px;
}

.simple-menu {
  display: inline-block;
}

.simple-menu li {
  float: left;
  padding: 15px;
  border: 1px solid #ebebeb;
  background: #fff;
  cursor: pointer;
}

.simple-menu li:hover {
  border-top: #18cfab 1px solid;
  padding-top: 15px;
}

.simple-menu li:hover,
.simple-menu .active {
  background: #18cfab;
  color: #fff;
}

.our-services {
  background: #ffffff;
}

.our-services .wrap-center {
  padding-bottom: 100px;
}

.our-services img {
  width: 195px;
  margin: 0 20px 20px 0;
  float: left;
}

.our-services .b-services {
  padding-top: 30px;
  clear: both;
}

.arrow-menu li {
  float: left;
  border: #f0f4f5 1px solid;
  padding: 35px;
  cursor: pointer;
  position: relative;
}

.arrow-menu li:hover,
.arrow-menu .active {
  background: #18cfab;
  color: #fff;
}

.tabs .arrow-menu li.active::after,
.arrow-menu li.active:hover::after,
.arrow-menu li:hover::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 50%;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #18cfaa transparent transparent transparent;
}

.buy-install {
  display: block;
  background-image: linear-gradient(rgba(116, 116, 116, 0.6), rgba(116, 116, 116, 0.6)), url(../img/image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 130px 0;
  text-align: center;
}

.buy-install .big-title {
  font-size: 40px;
  color: #18cfab;
  padding-bottom: 30px;
  text-transform: uppercase;
}

.buy-install button {
  margin-top: 70px;
}

.breaking-news {
  background: #ffffff;
}


.breaking-news .wrap-center {
  padding-bottom: 100px;
}

.breaking-news img {
  width: 260px;
}

.figure-block li {
  float: left;
  border: #f0f4f5 1px solid;
  margin: 30px 30px 0 0;
  width: 265px;
}

.figure-block li:nth-child(4n) {
  margin-right: 0;
}

.figure-block li figure {
  position: relative;
}

.figure-block li figure img {
  float: left;
}

.figure-block figcaption {
  background-color: #f8fcfe;
  padding: 15px 0 15px 15px;
  clear: both;
}

.figure-block .news-title {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 15px;
}

.figure-block .news-comment:hover{
  color: #848484;
}

.figure-block .b-date {
  width: 70px;
  height: 65px;
  background: #203e38;
  position: absolute;
  right: 5px;
  top: 0;
  text-align: center;
}

.figure-block .b-date p {
  color: #fff;
}

.figure-block a {
  display: block;
}

.figure-block a:hover .b-date {
  background: #18cfab;
}

.figure-block a:hover {
  color: #18cfab;
}

.facts {
  background: #25333c;
  height: 370px;
}

.four-blocks {
  overflow: hidden;
}

.facts .four-blocks li {
  text-transform: none;
  position: relative;
}

.facts .four-blocks li:nth-child(even) {
  border-color: #25333c;
}

.facts .four-blocks li:nth-child(even) .fact-text {
  color: #25333c;
}

.facts .four-blocks li .fact-number {
  color: #fff;
  font-size: 36px;
}

.facts .four-blocks li .fact-text {
  font-size: 18px;
  color: #18cfab;
}

.facts li:nth-child(n)::before {
  background-image: url("../img/icons3.png");
  height: 165px;
  width: 165px;
  content: "";
  display: inline-block;
  border: 1px solid #18cfab;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.facts li:nth-child(2n)::before {
  border-color: #25333c;
}

.facts li:nth-child(n)::after {
  content: "";
  height: 110px;
  width: 110px;
  background: #18cfab;
  border-radius: 50%; 
  display: block;
  position: absolute;
  top: 104px;
  left: 187px;
}

.facts li:nth-child(2n)::after {
  background: #25333c;
}
.facts li:nth-child(1)::before {
  background-position: -8px 0;
}

.facts li:nth-child(2)::before {
  background-position: -193px 0;
}

.facts li:nth-child(3)::before {
  background-position: -373px 0;
}

.facts li:nth-child(4)::before {
  background-position: 160px 0;
}

.pricing-table {
  background: #ffffff;
}

.pricing-table .wrap-center {
  padding-bottom: 100px;
}

.pricing-table .table-feature {
  -webkit-box-shadow: 0px 0px 9px 1px #dbdcdc;
  -moz-box-shadow: 0px 0px 9px 1px #dbdcdc;
  box-shadow: 0px 0px 9px 1px #dbdcdc;
  border-radius: 5px;
}

.pricing-table .table-feature li:first-child {
  position: relative;
}

.pricing-table .table-feature li:first-child span {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 63px 63px 0;
  border-color: transparent #18cfab transparent transparent;
  font-size: 13px;
  top: 0;
  right: 0;
}

.pricing-table .table-feature li:first-child span::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 30px 30px 0;
  border-color: transparent #fff transparent transparent;
  position: absolute;
  left: 33px;
}

.pricing-table .table-feature li:first-child span a {
  transform: rotate(46deg);
  position: absolute;
  top: 14px;
  left: 18px;
  color: #fff;
}

.pricing-table .table-feature li:nth-child(2) {
  background: #18cfab;
}

.pricing-table .table-feature button {
  background: #18cfab;
}

.price-table ul {
  float: left;
  background: #f8fcfe;
  border: #e5e5e6 1px solid;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
}

.price-table ul li {
  width: 285px;
  font-size: 14px;
  padding: 20px 0 15px 0px;
}

.price-table ul li:nth-child(1) {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #717171;
  padding: 25px 0;
}

.price-table ul li:nth-child(2) {
  background: #2e4a5b;
  color: #fff;
  font-size: 13px;
  padding: 25px 0;
}

.price-table ul li:nth-child(2) span {
  font-size: 39px;
}

.price-table ul li:nth-child(10) {
  padding: 25px 0;
}

.price-table button {
  width: 170px;
  height: 50px;
  background: #2e4a5b;
}

.people-say {
  display: block;
  background-image: linear-gradient(rgba(116, 116, 116, 0.6), rgba(116, 116, 116, 0.6)), url(../img/image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.people-say .wrap-center {
  padding-bottom: 100px;
}

.people-say h2 {
  color: #fff;
}

.circle-slider .circle-img-slider {
  width: 165px;
  height: 165px;
  background: rgba(31, 218, 181, 0.2);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  margin: 25px auto 50px;
}

.circle-slider .circle-img-slider img {
  width: 135px;
  height: 135px;
  border: 1px transparent solid;
}

.circle-slider .circle-img-slider:hover img {
  border-color: #18cfab;
}

.circle-slider .people-text {
  margin-bottom: 40px;
}

.circle-slider .people-name {
  color: #18cfab;
  text-transform: uppercase;
  font-weight: bold;
}

.circle-slider .people-profession {
  font-size: 13px;
}

.circle-slider ul {
  display: inline-block;
}

.circle-slider ul li {
  float: left;
  width: 100px;
  height: 100px;
  background: rgba(31, 218, 181, 0.2);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin-right: 30px;
}

.circle-slider ul li img {
  border: 1px transparent solid;
}

.circle-slider ul li:hover img {
  border-color: #18cfab;
}

.circle-slider ul li:first-child,
.circle-slider ul li:last-child {
  margin-top: 30px;
  width: 30px;
  height: 30px;
  border: 1px #bbbbbb solid;
  border-radius: 0;
  background: transparent;
}

.circle-slider ul li:hover {
  margin-top: -10px;
}

.circle-slider ul li:hover:first-child,
.circle-slider ul li:hover:last-child {
  margin-top: 30px;
}

.circle-slider img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-top: 14px;
  box-sizing: border-box;
}

.circle-slider .prev,
.circle-slider .next {
  display: inline-block;
}

.circle-slider .prev:hover,
.circle-slider .next:hover {
  background-color: #18cfab;
}

.circle-slider .prev:hover::after,
.circle-slider .next:hover::after {
  background-position: -13px 0px;
}

.circle-slider .prev::after,
.circle-slider .next::after {
  content: "";
  background: url(../img/icons.png) no-repeat;
  width: 8px;
  height: 18px;
  display: inline-block;
  margin-top: 7px;
}

.circle-slider .prev:hover::after {
  transform: rotate(180deg);
}

.circle-slider .next::after {
  transform: rotate(180deg);
}

.circle-slider .next:hover::after {
  transform: rotate(0deg);
}

.quotes {
  display: block;
  background: url("../img/icons.png") no-repeat;
  width: 52px;
  height: 35px;
  margin: auto;
  margin-bottom: 30px;
  background-position: -183px 0px;
}

.our-team {
  background: #ffffff;
}

.our-team .wrap-center {
  padding-bottom: 100px;
}

.our-team .team img {
  width: 265px;
}

.our-team .team figure {
  background-color: #2e4a5b;
  overflow: hidden;
  position: relative;
}

.our-team .team figure .team-info {
  padding: 15px 0 15px 15px;
}

.our-team .team figure .team-info p {
  font-size: 13px;
  color: #18cfab;
}

.our-team .team figure .team-info .team-name {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 15px;
}

.our-team .team figure:hover {
  background-color: #18cfab;
}

.our-team .team figure:hover .view-team {
  position: absolute;
  top: 75px;
  left: 90px;
  width: 85px;
  height: 85px;
  border: solid 1px #18cfab;
  border-radius: 50%;
}

.our-team .team figure:hover .view-team::before {
  content: "";
  width: 70px;
  height: 70px;
  display: block;
  background: #fff;
  border-radius: 50%;
  margin-top: 7px;
  margin-left: 8px;
}

.our-team .team figure:hover .view-team::after {
  content: "+";
  font-size: 50px;
  color: #18cfab;
  position: absolute;
  top: 10px;
  left: 29px;
}

.our-team .team figure:hover .team-profession {
  color: #2e4a5b;
}

.our-team .team figure:hover img {
  background-color: rgba(140, 154, 163, 0.5);
}

.our-team .team > li {
  margin: 0px 25px 30px 0;
  float: left;
  border: #fff 1px solid;
}

.our-team .team > li:nth-child(4n) {
  margin-right: 0;
}

.our-team .team .b-link {
  border: #fff 1px solid;
}

.our-team .team .b-link li {
  border: #fff 1px solid;
  border-top: none;
  border-bottom: none;
  float: left;
  cursor: pointer;
  padding: 17px;
}

.our-team .team .b-link li:first-child {
  border-left: none;
}

.our-team .team .b-link li:last-child {
  border-right: none;
}

.our-team .team .b-link li:nth-child(n)::before {
  background: url("../img/social-icons.png") no-repeat;
  height: 30px;
  width: 30px;
  content: "";
  display: inline-block;
}

.our-team .team .b-link li:nth-child(1)::before {
  background-position: 0 0;
}

.our-team .team .b-link li:nth-child(2)::before {
  background-position: -30px 0;
}

.our-team .team .b-link li:nth-child(3)::before {
  background-position: -60px 0;
}

.our-team .team .b-link li:nth-child(4)::before {
  background-position: -90px 0;
}

.clean-design {
  display: block;
  background-image: linear-gradient(rgba(116, 116, 116, 0.6), rgba(116, 116, 116, 0.6)), url(../img/image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
  padding-bottom: 30px;
}

.clean-design .left {
  float: left;
}

.clean-design .right {
  overflow: hidden;
}

.clean-design h2,
.clean-design h3 {
  text-transform: uppercase;
}

.clean-design h2 {
  font-size: 50px;
  color: #fff;
  padding-top: 135px;
  padding-bottom: 0;
}

.clean-design h3 {
  font-size: 47px;
  color: #18cfab;
  padding-bottom: 90px;
}

.clean-design img {
  width: 1120px;
}

.clean-design button {
  float: left;
}

.tags li {
  float: left;
  border: #acacac 1px solid;
  padding: 10px;
  margin: 0 5px 5px 0; 
}
  
.tags li:hover {
  background: #18cfab;
  color: #fff; 
}

.point li {
  text-align: left;
  margin: 20px 0;
}

.point li::before {
  content: "";
  background: url(../img/icons.png) no-repeat;
  width: 24px;
  height: 26px;
  display: inline-block;
  padding-right: 20px;
  top: 5px;
  position: relative;
  background-position: -112px 0px;
}

.contact-us {
  background: #ffffff;
  padding: 130px 0;
}

.contact-us .message {
  width: 560px;
  display: inline-block;
}

.contact-us h2 {
  padding-top: 0;
  text-align: left;
}

.contact-us .right {
  float: right;
}

.contact-us img {
  width: 914px;
  float: left;
  margin: 0 30px 30px 0;
}

.contact-us input,
.contact-us textarea {
  display: table;
  width: 535px;
  padding: 20px 0 20px 15px;
  margin-bottom: 15px;
}

.contact-us textarea {
  height: 145px;
}

.contact-us .vertical-table {
  margin: 0;
}

.contact-us button {
  width: 555px;
  height: 60px;
  font-size: 14px;
}

.footer {
  background: #1c2b33;
}

.footer h3 {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.footer .wrap-center {
  padding: 130px 0;
}

.footer .footer-address {
  width: 245px;
  float: left;
  margin-right: 50px;
}

.footer .footer-address a {
  font-size: 40px;
  color: #fff;
  margin-bottom: 30px;
  display: block;
}

.footer .footer-address a span {
  color: #18cfab;
}

.footer .footer-address .b-address {
  font-size: 14px;
}

.footer .footer-address .b-address .office {
  margin-top: 85px;
}

.footer .footer-address .b-address .phone {
  margin-top: 50px;
}

.footer .footer-address .b-address .bold {
  font-weight: bold;
  font-size: 16px;
}

.footer .footer-post {
  width: 340px;
  float: left;
  margin-right: 50px;
}

.footer .footer-post img {
  width: 75px;
  height: 65px;
  float: left;
  margin: 0 15px 15px 0;
}

.footer .footer-post li {
  border-bottom: 1px #294453 solid;
  padding: 30px 0;
}

.footer .footer-post li:first-child {
  padding-top: 0;
}

.footer .footer-post li:last-child {
  border: none;
}

.footer .footer-post li a {
  color: #fff;
  font-size: 16px;
}

.footer .footer-post li a:hover {
  color: #18cfab;
}

.footer .footer-post li p {
  font-size: 14px;
  color: #fff;
}

.footer .footer-post li .date {
  color: #b2b2b2;
  margin: 15px 0 20px 0;
}

.footer .footer-post li figcuption {
  display: table-cell;
}

.footer .footer-tags-news {
  width: 245px;
  float: left;
  margin-right: 50px;
}

.footer .footer-tags-news .footer-tags {
  display: inline-block;
  padding-bottom: 35px;
}

.footer .footer-tags-news .footer-news {
  border-top: 1px #294453 solid;
  padding: 35px 0;
  display: inline-block;
}

.footer .footer-tags-news .footer-news form {
  margin-top: 20px;
}

.footer .footer-tags-news .footer-news input {
  background: #22353f;
  border: none;
  padding: 15px 0px 15px 15px;
  float: left;
  width: 180px;
}

.footer .footer-tags-news .footer-news .b-input {
  background: #294453;
  display: inline-block;
  padding: 13px 13px 13px 14px;
  float: right;
  color: #18cfab;
  font-weight: bold;
  cursor: pointer;
}

.footer .footer-fleeckfeed {
  width: 165px;
  float: left;
}

.footer .footer-fleeckfeed li {
  float: left;
  margin: 0 15px 15px 0;
}

.footer .footer-fleeckfeed li:nth-child(2n) {
  margin-right: 0;
}

.footer .footer-fleeckfeed img {
  width: 75px;
  height: 75px;
}

.footer .copy {
  background: #22353f;
  height: 105px;
  clear: both;
}

.footer .copy span {
  color: #18cfab;
}


.tabs{
    display: block;
}

.hide {
  display: none;
}